.list{
    margin: 15px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    font-size: 14px;
}

.item {
    width: 160px;
    text-align: center;
}

.collapse {
    padding: 6px;
    font-size: 12px;
    border-radius: 10px;
    border: 1.5px solid rgb(124, 12, 109);
    transition: all 300ms ease-in-out;
    background-color: transparent;
    color: rgb(124, 12, 109);
    
        &:hover {
            background-color: rgb(124, 12, 109);
            color: white;
            transform: scale(1.1);
        }
}

.name {
    font-weight: 700;
}