.form {
    display: flex;
    align-items: center;
    width: 400px;
    position: relative;
}

.btn {
    display: inline-block;
    position: absolute;
    right: 8px;
    background-color: transparent;
    border: none;
    color: rgb(124, 12, 109);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-size: 20px;

    &:hover {
        transform: scale(1.15);
    }
}

.btnLabel {
    width: 24px;
}

.input {
    width: 100%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    font-size: 18px;
    border: 2px solid #575756;
    border-radius: 50px;

    &:hover,
    &:focus {
        border: 2px solid rgb(124, 12, 109);
    }
}