body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.5;
    background-color: rgb(253, 251, 246);
}

a {
    // text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
}
 button {
    cursor: pointer;
 }


.nav {
    padding: 15px 15px 0 15px;
    display: flex;
    gap: 20px;
    width: 100%;
    box-shadow: 0px 15px 10px -15px rgba(0, 0, 0, 0.313);
    margin-bottom: 30px;
    
    &__link {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: 28px;

        &.active {
            color: blueviolet;
        }
    }
}
